.clickytable {
	font-family: Arial, Verdana;
	font-weight: bold;
	font-size: 10pt;
	width: 90%;
}

.clickybutton {
	-moz-box-shadow: inset 0px 1px 0px 0px #F4935A;
	-webkit-box-shadow: inset 0px 1px 0px 0px #F4935A;
	box-shadow: inset 0px 1px 0px 0px #F4935A;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EA3E00), color-stop(1, #EF925F));
	background: -moz-linear-gradient(center top, #EA3E00 5%, #EF925F 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#EA3E00\', endColorstr=\'#EF925F\');*/
	background-color: #EA3E00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #EDA07D;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 3%;
	text-decoration: none;
	text-shadow: 1px 1px 0px #EA8459;
}

.clickybutton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EF925F), color-stop(1, #EA3E00));
	background: -moz-linear-gradient(center top, #EF925F 5%, #EA3E00 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#EF925F\', endColorstr=\'#EA3E00\');*/
	background-color: #EF925F;
}

.clickybutton:active {
	position: relative;
	top: 1px;
}

a.clickytable:link {
	color: #FFFFC6;
	text-decoration: none;
}

a.clickytable:visited {
	color: #FFFFC6;
	text-decoration: none;
}

a.clickytable:hover {
	color: #FAFF00;
	text-decoration: none;
}

#ca_statsdata {
	width: 90%;
	display: block;
	margin: 0 auto;
}

table.clickytable {
	-moz-box-shadow: inset 0px 1px 0px 0px #F4935A;
	-webkit-box-shadow: inset 0px 1px 0px 0px #F4935A;
	box-shadow: inset 0px 1px 0px 0px #F4935A;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EA3E00), color-stop(1, #EF925F));
	background: -moz-linear-gradient(center top, #EA3E00 5%, #EF925F 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#EA3E00\', endColorstr=\'#EF925F\');*/
	background-color: #EA3E00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #EDA07D;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 2px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #EA8459;
}

.cadash-title {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.cadash-desc {
	font-size: 1em;
}